.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgb(18, 105, 185);
  color: #fff;
  padding: 1% 0;
  font-size: 1.3em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0px 15px 5px;
  font-size: 2em;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #fff;
  background-color: rgb(18, 105, 185);
}

.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}

.navbar-brand span{
  color: #fff;
}
a, a:hover, a::after, a:active {
  text-decoration: none;
}

.wrapper {
padding: 2%;
}
#myCarousel {
  display: flex;
}
.carousel-inner img{
max-height: 600px;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.journey {
  display: flex;
  flex-basis: 32%;
  align-items: center;
}
.journey div img {
  width: 100%;
  /* height: 100%; */
}
.reviews {
  display: flex;
  align-items: center;
}
.reviews h3, h4 {
  text-align: center;
}
.btn {
  font-size: 18px;
  color: white;
  padding: 12px 22px;
  background-color: rgb(18, 105, 185);
  border: 2px solid #fff;
}

.btn:hover {
  background-color: rgba(136, 147, 218, 0.45);
}

.container {
  margin: 4% auto;
}

.search {
  text-align: right;
  margin: 5%;
}

#foodSearch{
  min-width: 400px;
  text-align: center;
}

#container-recipes {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container-favorites {
  text-align: center;
  min-height: 300px;
  margin: 0 auto;
  max-width: 90%;
}
#stomach {
  max-width: 75%;
  margin: 1% 0 5%;
}

.recipe {
  flex-basis: 23%;
  margin: 1%;
  text-align: center;
}

.recipe i {
    color: rgb(199, 162, 32);
    cursor: hand;
    font-size: 1.5em;
}

.recipe h4 {
  display: inline;
}

.recipe img {
  max-width: 200px;
  margin: 1% auto;
}

.recipe-title {
  text-align: center;
}

footer {
  width: 100%;
  background-color: rgb(18, 105, 185);
  padding: 3%;
  color: white;
}
.fa {
  padding: 8px;
  font-size: 30px;
  color: white;
}
.fa:hover, footer h3:hover {
  text-decoration: none;
  color: #d5d5d5;
}
footer h3 {
  color: white;
}
.connect {
  text-align: right;
}

@media (max-width: 990px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
  }
  .img-book     { order: 4;}
  .img-movie    { order: 1;}
  .review-book  { order: 3;}
  .review-movie { order: 2;}

}
@media (max-width: 687px) {
  .wrapper {
    padding: 2%;
  }
  .carousel-caption {
    display: none;
  }
  .drop-down, .search {
    text-align: center;
  }
  #foodSearch {
    min-width: 300px;
  }
  .pic {
    max-width: 150px;
  }
  h4 {
    font-size: .9em;
  }
  h2 {
    font-size: 1.7em;
  }
  .collapse {
    padding: 2%;
  }
  #foodSearch {
    margin: 2%;
  }
  #container-recipes {
    justify-content: center;
  }

  .recipe {
    flex-basis: 45%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .hide-me{
    display: none;
  }
  .footer-row {
    height: 100px;
  }
}

@media (max-width: 450px ) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-center;
  }
  .reviews img, .blog img {margin: 2% 0 0 10%;}
  .img-book     { order: 3;}
  .img-movie    { order: 1;}
  .review-book  { order: 4;}
  .review-movie { order: 2;}
  img {width: 80%;}

}
